<div class="login-container">

    <mat-form-field class="input-field">
        <input matInput placeholder="Nome" [formControl]="nome" required>
    </mat-form-field>


    <mat-form-field class="input-field">
        <input matInput placeholder="Email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">Email inválido</mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
        <input matInput type="password" placeholder="Senha" [formControl]="senha" required>
        <mat-error *ngIf="senha.invalid">Senha inválida</mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
        <mat-label>Planos</mat-label>
        <mat-select [(ngModel)]="planoSelecionado">
            @for (plano of planos; track plano) {
            <mat-option [value]="plano.id">{{plano.nome}} - {{plano.valor}}</mat-option>
            }
        </mat-select>
    </mat-form-field>





    <button mat-raised-button color="primary" class="login-button" (click)="cadastrar()">Cadastrar</button>



    <mat-error *ngIf="errorMessage" class="error-message">{{ errorMessage }}</mat-error>
</div>